spring:
    datasource:
        url: jdbc:postgresql://pg.taskmanager.com:5432/taskmanager
        username: taskmanager
        password: task@manager2022
           
    jpa:
        show-sql: false
        properties:
            hibernate:
                format_sql: false
                dialect: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: none

application:
    jwt:
        secret-key: sacdfsdfkjwyeiusd908djf87j0sadopij30948jsdfgnm3w087jdsfgslg08